* {
    padding: 0;
    margin: 0;
}


header {
    background-color: #FBF7EC;
    height: 75px;
}


#logo {
    margin: 80px 0 0 120px;
}

#carrito {
    position: absolute;
    top: 10px;
    right: 185px;
}

#usuario {
    position: absolute;
    top: 15px;
    right: 120px;
}

#usuario img {
    width: 55px;
}

header p {
    color: black;
    display: inline;
    position: relative;
    bottom: 20px;
}

nav {
    text-align: center;
    width: 35%;
    margin: auto;
    position: relative;
    bottom: 45px;
}


nav li {
    display: inline-block;
    margin: 0 3px;
}

nav a {
    display: inline-block;
    padding: 8px 16px;
    color: #FBF7EC;
    background-color: #5B6372;
    border-right: 2px solid #5B6372;
    text-decoration: none;
}

.tab {
  display: inline-block;      
  padding: 8px 16px;
  background-color: #5B6372;
  color: white;
  border-right: 2px solid #5B6372; 
}
